.shopping{ background:url("shopping.png") top left no-repeat; }
._r37_c1{ width:100px; height:100px; background-position:-10px -10px; }5
._r35_c1{ width:100px; height:100px; background-position:-10px -120px; }60
._r33_c1{ width:100px; height:100px; background-position:-10px -230px; }116
._r31_c1{ width:100px; height:100px; background-position:-10px -340px; }170
._r29_c1{ width:100px; height:100px; background-position:-10px -450px; }225
._r27_c1{ width:100px; height:100px; background-position:-10px -560px; }280
._r25_c1{ width:100px; height:82px; background-position:-10px -1980px; }990
._r23_c1{ width:100px; height:100px; background-position:-10px -670px; }335
._r21_c1{ width:100px; height:99px; background-position:-10px -1770px; }885
._r19_c1{ width:100px; height:100px; background-position:-10px -780px; }390
._r17_c1{ width:100px; height:100px; background-position:-10px -890px; }445
._r15_c1{ width:100px; height:100px; background-position:-10px -1000px; }500
._r13_c1{ width:100px; height:100px; background-position:-10px -1110px; }555
._r11_c1{ width:100px; height:100px; background-position:-10px -1220px; }610
._r9_c1{ width:100px; height:100px; background-position:-10px -1330px; }665
._r7_c1{ width:100px; height:100px; background-position:-10px -1440px; }720
._r5_c1{ width:100px; height:91px; background-position:-10px -1879px; }939
._r3_c1{ width:100px; height:100px; background-position:-10px -1550px; }775
._r1_c1{ width:100px; height:100px; background-position:-10px -1660px; }830




