/* 科学计算器  版本V1  2015.10.28*/

@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

body {
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}

#main {
    width: 500px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #E99067;
    text-align: center;
    background: #c4c8cb;
}

.textbox {
    width: 70%;
    height: 50px;
    border: 1px solid #8E9cad;
    margin: 10px 0;
    font-size: 30px;
    text-align: right;
}

.text_1 {
    width: 10%;
    text-align: left;
}

.te_1 {
    margin: 10px 0;
}

button {
    width: 100px;
    height: 50px;
    font-weight: bold;
    font-size: 30px;
    margin: 5px;
    background: #ace466;
}

@media screen and (max-width:767px) {
    #main {
        box-sizing: border-box;
        width: 100%;
        height: 600px;
    }
    button {
        width: 20%;
    }
}
